*{
    margin: 0;
    padding: 0;
}
td{ 
  text-align: center; 
  }
      
table {
  margin: 10px; 
}
button{
margin-bottom: 1em;
}

th{
  text-align: center;
  color: black;

}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    font-size: 1em;
    line-height: 1.5em;
    background-image: url(https://ak9.picdn.net/shutterstock/videos/27746209/thumb/12.jpg);
    background-position: center;
    background-attachment: fixed;  

  }
  
  h1 {
    font-size: 2.3em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
  }
  
  p {
    margin: 0 0 1.5em 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
  }
  
  img {
    max-width: 100%;
  }
  
  th{
    text-align: center; 
    color: black;
    font-weight: bold;
  }
  td { 
    text-align: center; 
    }
    
  table {
    margin: 10px }

  button{
  margin-bottom: 1em;
  }


  .main {
    width: 90%;
    max-width: 4000px;
    margin: 20px auto;
  }

  .slides {
    width: 100%;
  }

  .slides img{
      width: 100%;
  }

  .maininfo1{
      margin-top: 1em;
      margin-bottom: 1em;
    background: #ff1d1d; 
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 4em;
    padding: 2em;
  }

  .maininfo2{
    background: #187ddb; 
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 4em;
    padding: 2em;
  }

  .infoleft{
      float: right;
  }

  .inforight{
      float:left;
      padding-left: 5em;
  }

  #content{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    min-height: 4em;
    padding: 2em;
  }

  #articulo{
    display: grid;
    grid-template-columns: 40% 50%;
    min-height: 10em;
    padding: 2em;
  }

  .products{
    padding: 2em;
  }
  #BottomInfo{
      padding: 2em;
      margin: 1em;
  }
  .button {
    text-align: center;
    padding: 2px 8px;
    border: 1px solid #a62729;
    border-radius: 10px;
    background: #ff4a4d;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff4a4d), to(#a62729));
    background: -moz-linear-gradient(top, #ff4a4d, #a62729);
    background: linear-gradient(to bottom, #ff4a4d, #a62729);
    font: normal normal bold 19px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid #c32e30;
    background: #ff595c;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff595c), to(#c72f31));
    background: -moz-linear-gradient(top, #ff595c, #c72f31);
    background: linear-gradient(to bottom, #ff595c, #c72f31);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #a62729;
}
