#main-footer {
	background: #ff1d1d;
	color: white;
	height: 520px;
}	
	#main-footer a {
		color: white;
	}
 
#logo-footer {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-footer:hover {
		color: #0b76a6;
	}
	
	#logo-footer .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-footer .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}

	p,h2
    {
      text-align: center;
    }